<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/node.svg" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/essentials.css" />
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('partials/errors.ejs') %>
    <form action="/sign-up" method="POST">
      <fieldset>
        <label for="username"
          >Username:
          <input type="text" name="username" id="username" />
        </label>

        <label for="password"
          >Password:
          <input type="password" name="password" id="password" />
        </label>

        <button type="submit">Sign Up</button>
      </fieldset>
    </form>
    <a href="/"><button>Log In</button></a>
  </body>
</html>
